In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
from scipy.stats import linregress

# Import API key
from api_keys import weather_api_key

# Incorporated citipy to determine city based on latitude and longitude
from citipy import citipy

# Output File (CSV)
output_data_file = "output_data/cities.csv"

# Range of latitudes and longitudes
lat_range = (-90, 90)
lng_range = (-180, 180)

In [2]:
# List for holding lat_lngs and cities
lat_lngs = []
cities = []

# Create a set of random lat and lng combinations
lats = np.random.uniform(lat_range[0], lat_range[1], size=1500)
lngs = np.random.uniform(lng_range[0], lng_range[1], size=1500)
lat_lngs = zip(lats, lngs)

# Identify nearest city for each lat, lng combination
for lat_lng in lat_lngs:
    city = citipy.nearest_city(lat_lng[0], lat_lng[1]).city_name
    
    # If the city is unique, then add it to a our cities list
    if city not in cities:
        cities.append(city)

# Print the city count to confirm sufficient count
len(cities)

632

In [15]:
# Creating a manageable v small list bc ...scared
small_list = cities[:15]
small_list

In [16]:
url = "http://api.openweathermap.org/data/2.5/weather?"
unit = "imperial"
city_with_data = []

lat = []
lng = []
max_temp = []
humidity = []
cloudiness = []
wind_speed = []
country = []
date = []

counter = 0


for city in small_list:
    
    query_url = url + "appid=" + weather_api_key + "&q=" + city + "&units=" + unit
    city_response = requests.get(query_url)
    city_json = city_response.json()
    
    try:
        city_data = city_json
        lat.append(city_data['coord']['lat'])
        lng.append(city_data['coord']['lon'])
        max_temp.append(city_data['main']['temp_max'])
        humidity.append(city_data['main']['humidity'])
        cloudiness.append(city_data['clouds']['all'])
        wind_speed.append(city_data['wind']['speed'])
        country.append(city_data['sys']['country'])
        date.append(city_data['dt'])
        city_with_data.append(city_data)
        
        counter += 1
        if counter == 5:
            time.sleep(5)
            print(f'Zzzz...Counter Reset')
            counter = 1
    
        print(f"This is pull {counter} for {city} data.")
    
    except KeyError:
        print(f"Oops, no data for {city}.")

This is pull 1 for kaitangata data.
This is pull 2 for port alfred data.
This is pull 3 for georgetown data.
This is pull 4 for hobart data.
Zzzz...Counter Reset
This is pull 1 for magdalena data.
This is pull 2 for new norfolk data.
This is pull 3 for dubbo data.
This is pull 4 for busselton data.
Zzzz...Counter Reset
This is pull 1 for lompoc data.
This is pull 2 for ranong data.
This is pull 3 for shalya data.
This is pull 4 for port lincoln data.
Zzzz...Counter Reset
This is pull 1 for kavieng data.
This is pull 2 for davidson data.
This is pull 3 for upernavik data.

In [17]:
# len(small_data)

# small_data

In [18]:
dictionary = {
    "city" : small_list,
    "lat" : lat,
    "lng" : lng,
    "max temp" : max_temp,
    "humidity" : humidity,
    "cloudiness" : cloudiness,
    "wind speed" : wind_speed,
    "country id" : country,
    "date" : date
}

small_df = pd.DataFrame(dictionary)
small_df

,city,lat,lng,max temp,humidity,cloudiness,wind speed,country id,date
0,kaitangata,-46.2817,169.8464,46.17,76,95,2.13,NZ,1643311290
1,port alfred,-33.5906,26.8910,73.63,90,53,8.28,ZA,1643311291
2,georgetown,5.4112,100.3354,80.53,85,20,3.44,MY,1643310905
3,hobart,-42.8794,147.3294,69.06,80,0,1.99,AU,1643310902
4,magdalena,14.1999,121.4290,79.92,94,20,4.00,PH,1643311176
5,new norfolk,-42.7826,147.0587,68.72,71,66,1.72,AU,1643311182
6,dubbo,-32.2500,148.6167,68.13,83,75,10.36,AU,1643311182
7,busselton,-33.6500,115.3333,59.04,81,0,11.01,AU,1643311182
8,lompoc,34.6391,-120.4579,69.10,49,0,3.44,US,1643311183
9,ranong,9.9658,98.6348,75.16,90,77,4.27,TH,1643311188
10,shalya,57.2471,58.7298,7.32,94,100,8.28,RU,1643311188
11,port lincoln,-34.7333,135.8667,64.76,89,0,6.91,AU,1643310933
12,kavieng,-2.5744,150.7967,83.01,71,40,6.82,PG,1643311189
13,davidson,36.1501,-86.7833,52.05,23,75,5.01,US,1643310943
14,upernavik,72.7868,-56.1549,-6.20,60,16,7.00,GL,1643311087

In [ ]:
# small_df = pd.DataFrame(small_list)
# # small_data

# small_df["Lat"] = ""
# small_df["Lng"] = ""
# small_df["Max Temp"] = ""
# small_df["Humidity"] = ""
# small_df["Cloudiness"] = ""
# small_df["Wind Speed"] = ""
# small_df["Country"] = ""
# small_df["Date"] = ""

# for index, row in small_df.iterrows():
#     small_df.loc[index, "Lat"] = small_data[0]["coord"]["lat"]
# #     small_df.loc[index, "Lng"] = small_data["coord"]["lng"]
    
# small_df