In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
from scipy.stats import linregress

# Import API key
from api_keys import weather_api_key

# Incorporated citipy to determine city based on latitude and longitude
from citipy import citipy

# Output File (CSV)
output_data_file = "output_data/cities.csv"

# Range of latitudes and longitudes
lat_range = (-90, 90)
lng_range = (-180, 180)

In [2]:
# List for holding lat_lngs and cities
lat_lngs = []
cities = []

# Create a set of random lat and lng combinations
lats = np.random.uniform(lat_range[0], lat_range[1], size=1500)
lngs = np.random.uniform(lng_range[0], lng_range[1], size=1500)
lat_lngs = zip(lats, lngs)

# Identify nearest city for each lat, lng combination
for lat_lng in lat_lngs:
    city = citipy.nearest_city(lat_lng[0], lat_lng[1]).city_name
    
    # If the city is unique, then add it to a our cities list
    if city not in cities:
        cities.append(city)

# Print the city count to confirm sufficient count
len(cities)

618

In [3]:
# Creating a manageable v small list bc ...scared
small_list = cities[:15]
small_list

['kingseat',
 'faanui',
 'illoqqortoormiut',
 'gazli',
 'sentyabrskiy',
 'hay river',
 'eskasem',
 'yar-sale',
 'dingle',
 'arraial do cabo',
 'kodiak',
 'iqaluit',
 'sisimiut',
 'christchurch',
 'tasiilaq']

In [11]:
url = "http://api.openweathermap.org/data/2.5/weather?"
unit = "imperial"
city_with_data = []

lat = []
lng = []
max_temp = []
humidity = []
cloudiness = []
wind_speed = []
country = []
date = []

counter = 0


for city in small_list:
    
    query_url = url + "appid=" + weather_api_key + "&q=" + city + "&units=" + unit
    city_response = requests.get(query_url)
    city_json = city_response.json()
    
    try:
        city_data = city_json
        lat.append(city_data['coord']['lat'])
        lng.append(city_data['coord']['lon'])
        max_temp.append(city_data['main']['temp_max'])
        humidity.append(city_data['main']['humidity'])
        cloudiness.append(city_data['clouds']['all'])
        wind_speed.append(city_data['wind']['speed'])
        country.append(city_data['sys']['country'])
        date.append(city_data['dt'])
        city_with_data.append(city_data['name'])
#         city_with_data.append(city_data['coord']['lat'])
#         city_with_data.append(city_data['coord']['lon'])
#         city_with_data.append(city_data['main']['temp_max'])
#         city_with_data.append(city_data['main']['humidity'])
#         city_with_data.append(city_data['clouds']['all'])
#         city_with_data.append(city_data['wind']['speed'])
#         city_with_data.append(city_data['sys']['country'])
#         city_with_data.append(city_data['dt'])
#         city_with_data.append(city_data)
        
        counter += 1
        if counter == 5:
            time.sleep(5)
            print(f'Zzzz...Counter Reset')
            counter = 1
    
        print(f"This is pull {counter} for {city} data.")
    
    except KeyError:
        print(f"Oops, no data for {city}.")

This is pull 1 for kingseat data.
This is pull 2 for faanui data.
Oops, no data for illoqqortoormiut.
This is pull 3 for gazli data.
Oops, no data for sentyabrskiy.
This is pull 4 for hay river data.
Oops, no data for eskasem.
Zzzz...Counter Reset
This is pull 1 for yar-sale data.
This is pull 2 for dingle data.
This is pull 3 for arraial do cabo data.
This is pull 4 for kodiak data.
Zzzz...Counter Reset
This is pull 1 for iqaluit data.
This is pull 2 for sisimiut data.
This is pull 3 for christchurch data.
This is pull 4 for tasiilaq data.

In [12]:
dictionary = {
    "city" : city_with_data,
    "lat" : lat,
    "lng" : lng,
    "max temp" : max_temp,
    "humidity" : humidity,
    "cloudiness" : cloudiness,
    "wind speed" : wind_speed,
    "country id" : country,
    "date" : date
}

small_df = pd.DataFrame(dictionary)
small_df

,city,lat,lng,max temp,humidity,cloudiness,wind speed,country id,date
0,Kingseat,56.0974,-3.4084,42.76,84,40,7.00,GB,1643311715
1,Faanui,-16.4833,-151.7500,80.87,76,63,15.73,PF,1643311715
2,Gazli,40.1333,63.4500,46.24,33,100,13.51,UZ,1643311716
3,Hay River,60.8156,-115.7999,12.18,79,75,3.44,CA,1643311716
4,Yar-Sale,66.8333,70.8333,1.96,97,100,7.11,RU,1643311716
5,Dingle,10.9995,122.6711,75.20,92,70,6.22,PH,1643311722
6,Arraial do Cabo,-22.9661,-42.0278,91.36,58,0,16.11,BR,1643311692
7,Saint Paul Harbor,57.7900,-152.4072,36.91,87,100,11.50,US,1643311722
8,Iqaluit,63.7506,-68.5145,-11.31,76,100,0.00,CA,1643311723
9,Sisimiut,66.9395,-53.6735,7.25,82,100,16.20,GL,1643311728
10,Christchurch,-43.5333,172.6333,58.32,68,100,0.92,NZ,1643311712
11,Tasiilaq,65.6145,-37.6368,17.76,95,100,11.21,GL,1643311729

In [ ]:
# small_df = pd.DataFrame(small_list)
# # small_data

# small_df["Lat"] = ""
# small_df["Lng"] = ""
# small_df["Max Temp"] = ""
# small_df["Humidity"] = ""
# small_df["Cloudiness"] = ""
# small_df["Wind Speed"] = ""
# small_df["Country"] = ""
# small_df["Date"] = ""

# for index, row in small_df.iterrows():
#     small_df.loc[index, "Lat"] = small_data[0]["coord"]["lat"]
# #     small_df.loc[index, "Lng"] = small_data["coord"]["lng"]
    
# small_df